# MySQL
MYSQL_HOST=192.168.3.12
MYSQL_PORT=3306
MYSQL_USER=xxxx
MYSQL_PASSWORD=xxxx
MYSQL_DATABASE=demo3306

# LLM
LLM_MODEL=deepseek:deepseek-v4-flash
DEEPSEEK_API_KEY=sk-xxxxx
DEEPSEEK_API_BASE=https://api.deepseek.com
